@import "colors.css";
@import "sizes.css";

.grid {
  .row {
    background: $c-row;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    &.h264-aud {
      color: yellow;
    }
    &.h264-sei {
      color: orange;
    }
    &.h264-slice-idr {
      &.i { color: $c-h264-I; }
      &.p { color: blue; }
      &.b { color: $c-h264-B; }
    }

    .cell {
      &.offset {
        flex: 0 0 $s-atoms-cell-offset;
      }
      &.name {
        flex: 0 0 $s-atoms-cell-name;
      }
    }
  }
}
