bin
tmp
*.o

**/target/*
Cargo.lock

**/lib/*

curl.sh
curl.json
curl.log

libmill
mongoose
libwebsockets

**/ui/node_modules
**/ui/static/*
**/ui/yarn.lock
!**/ui/bin
!**/ui/static/.keep
!**/ui/src/lib
!**/ui/src/lib/*
*.swp
*.swo
.vscode

go.sum

wasm/c/*.html
wasm/c/*.js
wasm/c/*.wasm

tags
